.header {
  background-color: #ffffff;
  display: flex;
  height: 88.23px;
  justify-content: space-evenly;
  align-items: center;
  width: 1440px;
  box-shadow: 0 0 0 0.5px rgba(105, 105, 105, 0.192);
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 479px;
  height: 24px;
}

.linkNav {
  color: #555555;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.user {
  display: flex;
  justify-content: space-between;
  height: 56px;
  width: 199px;
}

.numberItens {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-bottom: 1px solid #55555594;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 50%;
  position: absolute;
  margin-left: 180px;
  margin-top: 36px;
  color: #4FBFA5;
}